html, body {
  margin: 0;
  padding: 0;
  background: #222222;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center; /* 水平方向に中央寄せ */
  align-items: center;     /* 垂直方向に中央寄せ */
  overflow: hidden;
}

canvas {
  display: block;
  margin: auto;
  background: #222222;
}